mdl-layout.app-layout(mdl-layout-fixed-header, mdl-layout-fixed-drawer)
    mdl-layout-header.app-header.mdl-color--grey-100.mdl-color-text--grey-600
        app-nav-bar
    mdl-layout-drawer.app-drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50            
        app-side-bar
    mdl-layout-content.mdl-color--grey-100
        div.mdl-grid.app-content
            app-home
