
<mdl-layout class="app-layout" mdl-layout-fixed-header="mdl-layout-fixed-header" mdl-layout-fixed-drawer="mdl-layout-fixed-drawer">
  <mdl-layout-header class="app-header mdl-color--grey-100 mdl-color-text--grey-600">
    <app-nav-bar></app-nav-bar>
  </mdl-layout-header>
  <mdl-layout-drawer class="app-drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">           
    <app-side-bar></app-side-bar>
  </mdl-layout-drawer>
  <mdl-layout-content class="mdl-color--grey-100">
    <div class="mdl-grid app-content">
      <app-home></app-home>
    </div>
  </mdl-layout-content>
</mdl-layout><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white" id="view-source" href="https://github.com/AndreaM16/angular-mdl-dashboard" target="_blank">View Source                  </a>