mdl-card.app-updates.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop(mdl-shadow='2')
    mdl-card-title.mdl-card--expand.mdl-color--teal-300
        h2(mdl-card-title-text) Updates
    mdl-card-supporting-text.mdl-color-text--grey-600 Non dolore elit adipisicing ea reprehenderit consectetur culpa.
    mdl-card-actions.mdl-card--border
        button(mdl-button, mdl-ripple, href='#') Read More
        