
<mdl-card class="app-updates mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop" mdl-shadow="2">
  <mdl-card-title class="mdl-card--expand mdl-color--teal-300">
    <h2 mdl-card-title-text="mdl-card-title-text">Updates</h2>
  </mdl-card-title>
  <mdl-card-supporting-text class="mdl-color-text--grey-600">Non dolore elit adipisicing ea reprehenderit consectetur culpa.</mdl-card-supporting-text>
  <mdl-card-actions class="mdl-card--border">
    <button mdl-button="mdl-button" mdl-ripple="mdl-ripple" href="#">Read More</button>
  </mdl-card-actions>
</mdl-card>