
<mdl-card class="app-options mdl-color--deep-purple-500 mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop" mdl-shadow="2">
  <mdl-card-supporting-text class="mdl-color-text--blue-grey-50">
    <mdl-card-title class="title">View options</mdl-card-title>
    <mdl-list>
      <mdl-list-item *ngFor="let option of options">
        <mdl-list-item-text-body>
          <mdl-checkbox [mdl-ripple]="true">{{ option.title }} </mdl-checkbox>
        </mdl-list-item-text-body>
      </mdl-list-item>
    </mdl-list>
  </mdl-card-supporting-text>
  <mdl-card-actions class="mdl-card--border">
    <button class="mdl-color-text--blue-grey-50" mdl-button="mdl-button" mdl-ripple="mdl-ripple" href="#">Change location</button>
    <mdl-layout-spacer></mdl-layout-spacer>
    <button class="location-btn" mdl-button="mdl-button" mdl-button-type="icon">Change location
      <mdl-icon>location_on</mdl-icon>
    </button>
  </mdl-card-actions>
</mdl-card>