
<mdl-layout-header-row>
  <mdl-layout-title>Home</mdl-layout-title>
  <mdl-layout-spacer></mdl-layout-spacer>
  <mdl-textfield type="text" icon="search"></mdl-textfield>
  <button mdl-button="mdl-button" #navbarmenubtn="mdlButton" (click)="navbarmenu.toggle($event, navbarmenubtn)" mdl-button-type="icon" mdl-ripple="mdl-ripple">
    <mdl-icon>more_vert</mdl-icon>
  </button>
  <mdl-menu #navbarmenu="mdlMenu" mdl-menu-position="bottom-right"> 
    <mdl-menu-item *ngFor="let entry of moreBtnEntries" mdl-ripple="mdl-ripple">{{ entry.title }}</mdl-menu-item>
  </mdl-menu>
</mdl-layout-header-row>