div.app-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
    app-chart
div.middle-container.mdl-cell.mdl-cell--12-col.mdl-grid
    app-graph  
    div.app-cards.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet.mdl-grid.mdl-grid--no-spacing
        app-green-card        
        app-purple-card